* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px;
}

header li a {
  color: black;
  text-decoration: none;
  line-height: 150px;
  display: inline-block;
}

header li a.active {
  border-bottom: 5px solid #0282f9;
  color: #0282f9;
}

#jumbotron {
  height: 400px;
  overflow-y: hidden;
}

#jumbotron img {
  width: 100%;
}

#banner {
  background-color: #0282f9;
}

#banner .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

#banner .container div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .container div img {
  height: 70px;
}

#banner .container div img.smaller {
  height: 50px;
}

#banner .container div span {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

#items {
  padding: 50px 0 20px;
  background-color: #1c1c1c;
  color: white;
  position: relative;
}

#items .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#items .container .item {
  width: 15%;
}

#items .container .item .img-container {
  padding-top: 100%;
  position: relative;
  overflow-y: hidden;
}

#items .container .item .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#items .container .item h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0 20px;
}

#items .container .item h4 a {
  color: white;
}

#items .btn {
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

#items .btn.series {
  position: absolute;
  left: 10%;
  top: -20px;
  font-size: 20px;
}

#items .btn.more {
  margin: 30px auto 0;
  font-size: 14px;
}

#details-top {
  padding: 50px 0;
}

#details-top .container {
  width: 60%;
  display: flex;
}

#details-top .container .description {
  width: 70%;
}

#details-top .container .description .availability {
  min-height: 40px;
  background-color: #30a030;
  color: white;
}

#details-bottom {
  padding: 50px 0;
  background-color: whitesmoke;
}

#details-bottom .container {
  width: 60%;
  display: flex;
}

footer #footer-top {
  background-image: url("/storage/img/footer-bg.jpg");
}

footer #footer-top .container {
  padding: 50px 0;
  background-image: url("/storage/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 400px;
}

footer #footer-top .container nav {
  margin: 0 10px 20px 0;
  width: 150px;
}

footer #footer-top .container nav h3 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px;
}

footer #footer-top .container nav ul {
  list-style-type: none;
}

footer #footer-top .container nav ul a {
  font-size: 12px;
  color: grey;
  text-decoration: none;
}

footer #footer-bottom {
  background-color: #303030;
}

footer #footer-bottom .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #footer-bottom .container .btn {
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #0282f9;
}

footer #footer-bottom .container #social {
  display: flex;
  align-items: center;
}

footer #footer-bottom .container #social .text {
  color: #0282f9;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}

footer #footer-bottom .container #social .icons img {
  height: 30px;
  margin: 0 10px;
}

